<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_bottom_nav"
        tools:targetApi="31">
        <activity
            android:name=".Firsttest"
            android:exported="false" />
        <activity
            android:name=".FirstItem"
            android:exported="false" />
        <activity
            android:name=".SecondItem"
            android:exported="false" />
        <activity
            android:name=".ThirdItem"
            android:exported="false" />
        <activity
            android:name=".FourthItem"
            android:exported="false" />
        <activity
            android:name=".FifthItem"
            android:exported="false" />
        <activity
            android:name=".SixthItem"
            android:exported="false" />
        <activity
            android:name=".SeventhItem"
            android:exported="false" />
        <activity
            android:name=".Secondtest"
            android:exported="false" />
        <activity
            android:name=".Thirdtest"
            android:exported="false" />
        <activity
            android:name=".Fourthtest"
            android:exported="false" />
        <activity
            android:name=".Fifthtest"
            android:exported="false" />
        <activity
            android:name=".Sixthtest"
            android:exported="false" />
        <activity
            android:name=".Seventhtest"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>